<div class="alert alert-dark" role="alert">
  <h1 id="titulo">App Routing</h1>
</div>
<!-- <button type="button" class="btn btn-success">
  <a ></a>
  Ruta Formulario
</button>
<a routerLink="/ruta2" routerLinkActive="active">Ruta carrusel</a>
<a routerLink="/hello" routerLinkActive="active">Ejemplo notFound</a> -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/ruta1" routerLinkActive="active">Formulario</a></li>
    <li class="breadcrumb-item"><a routerLink="/ruta2" routerLinkActive="active">Ruta Carrusel</a></li>
    <li class="breadcrumb-item"><a routerLink="/hello" routerLinkActive="active">No encontrada</a></li>  
  </ol>
</nav>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/ruta1" routerLinkActive="active">Enlace 1</a></li>
    <li><a routerLink="/ruta2" routerLinkActive="active">Enlace 2</a></li>
    <li><a routerLink="/hello" routerLinkActive="active">Ejemplo notFound</a></li>
  </ul>
</nav>
The routed views render in the <router-outlet> -->
<router-outlet>

  
</router-outlet>